doctype html
html
	head
		title= title
		link(rel='stylesheet', src='/style.css', type='text/css')
	body
		#navbar-fixed
			#nav-wrapper
				a(class=['logo'], href='/') User management app
				ul
					li
						a(href='http://localhost:3000/register') Sign up
					li
						a(href='http://localhost:3000/searchform') Search
		#content
			block content
