extends layout

block content
	h1 Search for User
	form(name="searchForUser", action="/searchresult", method="post")
		div.input
			span.label Name
			input(list='results', id='searchfield', type="text", name="userNameSearch", autocomplete='off')
			datalist#results
		div.actions
			input(type="submit", value="go search")