extends layout

block content
	h1 Search for User
	form(name="searchForUser", action="/searchresult", method="post")
		div.input
			span.label Name
			input(type="text", name="userNameSearch")
		div.actions
			input(type="submit", value="go search")
	a(href='/') Home
	div#displayname
		p=#firstname
		p=#lastname
		p=#email